body {
  margin: 0;
  padding: 0;
  font-family: Rubik, Helvetica, sans-serif;
}

h2 {
  text-transform: uppercase;
}

a {
  color: #444;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: #444;
  }
}
