$breakpoints: (
  "small": (
    max-width: 767px,
  ),
  "medium": (
    max-width: 992px,
  ),
  "large": (
    max-width: 1200px,
  ),
);

$btn-color: hsl(228, 32%, 35%);
$btn-hover-color: hsl(228, 32%, 25%);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

body {
  margin: 0;
}

.homepage {
  position: relative;

  height: 100vh;
  overflow: hidden;
  font-family: Rubik, Helvetica, sans-serif;
  display: flex;

  .column-left {
    height: calc(100% - 64px);
    width: fit-content;
    max-width: 380px;
    top: 0;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 32px;
    background-color: #fff;
    background-image: url( './static/grain.svg' );
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .column-right {
    padding: 40px 40px 100px 40px;
    flex: 1;
    height: calc(100% - 140px);
    overflow: scroll;
  }

  .profile {
    width: 100%;
    // display: flex;
    // justify-content: left;
    padding-bottom: 16px;

    img {
      border-radius: 32px;
      width: 100%;
    }
  }

  .title {
    font-family: Ubuntu;
    text-align: left;
    font-size: 40px;
    color: $btn-hover-color;
  }
  .subtitle {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }

  .nav {
    margin-top: auto;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .nav-item {
    font-size: 18px;
    color: #18020C;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 8px;

    a {
      font-size: 18px;
      color: #18020C;
      text-decoration: none;
    }

    &--link:hover a {
      text-decoration: underline;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .resume, .portfolio {
    width: fit-content;
    font-size: 20px;
    a {
      padding: 4px 16px;
      background-color: $btn-color;
      border: 2px solid $btn-color;
      border-radius: 8px;
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $btn-hover-color;
        border-color: $btn-hover-color;
      }
    }
  }

  .portfolio {
    a {
    color: $btn-color;
    border-radius: 8px;
    background-color: transparent;

    &:hover {
      color: $btn-hover-color;
      background-color: transparent;
    }
  }}

  .hint {
    padding: 32px;
    text-align: center;

    span {
      margin: 0 8px;
    }
  }

  .gallery {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;

    a {
      color: #163f54;
      text-decoration: underline;
    }

    &__col {
      width: 280px;

      h3 {
        margin: 32px 0 16px 0;
        text-align: left;
        font-weight: 500;
        font-size: 24px;
      }
      ul {
        padding: 0 16px;
      }
    }

    &__image {
      margin-top: 16px;
      width: 100%;

      p,
      a {
        color: #888;
        font-size: 16px;
      }

      img {
        border-radius: 16px;
      }

      &--front {
        display: block;
      }
      &--back {
        display: none;
      }

      &:hover {
        .gallery__image--front {
          display: none;
        }
        .gallery__image--back {
          display: block;
        }
      }
    }
  }

  .appendix {
    width: 60%;
    margin: 160px auto 0 auto;
    font-size: 16px;
    line-height: 24px;
    a {
      color: #18020C;
    }
  }
}
