body {
  margin: 0;
}

.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: Rubik, Helvetica, sans-serif;
  display: flex;
}
.homepage .column-left {
  height: calc(100% - 64px);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 380px;
  top: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 32px;
  background-color: #fff;
  background-image: url("./static/grain.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage .column-right {
  padding: 40px 40px 100px 40px;
  flex: 1;
  height: calc(100% - 140px);
  overflow: scroll;
}
.homepage .profile {
  width: 100%;
  padding-bottom: 16px;
}
.homepage .profile img {
  border-radius: 32px;
  width: 100%;
}
.homepage .title {
  text-align: left;
  font-size: 40px;
  color: hsl(228, 32%, 25%);
}
.homepage .subtitle {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.homepage .nav {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.homepage .nav-item {
  font-size: 18px;
  color: #18020C;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.homepage .nav-item a {
  font-size: 18px;
  color: #18020C;
  text-decoration: none;
}
.homepage .nav-item--link:hover a {
  text-decoration: underline;
}
.homepage .buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.homepage .resume, .homepage .portfolio {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}
.homepage .resume a, .homepage .portfolio a {
  padding: 4px 16px;
  background-color: hsl(228, 32%, 35%);
  border: 2px solid hsl(228, 32%, 35%);
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.homepage .resume a svg, .homepage .portfolio a svg {
  width: 20px;
  height: 20px;
}
.homepage .resume a:hover, .homepage .portfolio a:hover {
  background-color: hsl(228, 32%, 25%);
  border-color: hsl(228, 32%, 25%);
}
.homepage .portfolio a {
  color: hsl(228, 32%, 35%);
  border-radius: 8px;
  background-color: transparent;
}
.homepage .portfolio a:hover {
  color: hsl(228, 32%, 25%);
  background-color: transparent;
}
.homepage .hint {
  padding: 32px;
  text-align: center;
}
.homepage .hint span {
  margin: 0 8px;
}
.homepage .gallery {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
.homepage .gallery a {
  color: #163f54;
  text-decoration: underline;
}
.homepage .gallery__col {
  width: 280px;
}
.homepage .gallery__col h3 {
  margin: 32px 0 16px 0;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
}
.homepage .gallery__col ul {
  padding: 0 16px;
}
.homepage .gallery__image {
  margin-top: 16px;
  width: 100%;
}
.homepage .gallery__image p,
.homepage .gallery__image a {
  color: #888;
  font-size: 16px;
}
.homepage .gallery__image img {
  border-radius: 16px;
}
.homepage .gallery__image--front {
  display: block;
}
.homepage .gallery__image--back {
  display: none;
}
.homepage .gallery__image:hover .gallery__image--front {
  display: none;
}
.homepage .gallery__image:hover .gallery__image--back {
  display: block;
}
.homepage .appendix {
  width: 60%;
  margin: 160px auto 0 auto;
  font-size: 16px;
  line-height: 24px;
}
.homepage .appendix a {
  color: #18020C;
}/*# sourceMappingURL=index.css.map */