$breakpoints: (
  "small": (
    max-width: 767px,
  ),
  "medium": (
    max-width: 992px,
  ),
  "large": (
    max-width: 1200px,
  ),
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

body {
  margin: 0 auto;
  width: 80%;
}

.header {
  padding: 24px 40px 12px 40px;
  display: flex;

  .title {
    width: fit-content;
    font-size: 32px;
    color: #444;
    font-family: Rubik, Helvetica, sans-serif;
    &--main {
      padding-bottom: 12px;
      color: #000;
      font-size: 48px;
      font-weight: 500;
    }
    &--sub {
      font-size: 32px;
    }
  }
  img {
    height: 150px;
    align-self: center;
  }
}
.portfolio {
  padding: 20px 40px 100px 40px;

  font-family: Rubik, Helvetica, sans-serif;
  overflow: scroll;

  .title {
    padding: 16px 0;
    font-size: 32px;
    color: #000;
    font-family: Rubik, Helvetica, sans-serif;
  }

  .section {
    padding-bottom: 32px;
  }

  p,
  ul {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 80%;

    &.subtitle {
      color: #444;
    }
    &.caption {
      padding-bottom: 16px;
      color: #888;
    }
    &.bold {
      font-weight: 600;
    }
  }
  h2 {
    font-size: 32px;
    margin: 32px 0 0 0;
    padding: 8px 0;
  }
  h3 {
    font-size: 24px;
    margin: 16px 0;
    color: #555;
    font-weight: 400;
  }

  a {
    color: #163f54;
    text-decoration: underline;
  }
}

.horizontal-nav {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  .nav-item {
    font-size: 18px;
    color: #000;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 8px;

    a {
      font-size: 18px;
      color: #000;
      text-decoration: none;
    }

    &--link:hover a {
      text-decoration: underline;
    }
  }
}

.resume {
  width: fit-content;
  font-size: 20px;
  a {
    padding: 4px 16px;
    background-color: #111;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.hero-wrapper {
  padding: 16px 0;

  img {
    max-height: 200px;
    align-self: center;
  }
}

.external-links-wrapper {
  padding: 16px 0;
  display: flex;
  gap: 4px;
  flex-direction: column;

  a {
    padding-left: 8px;
    color: #163f54;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
  }
}

.image-wrapper {
  padding-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  img {
    max-height: 300px;
    align-self: center;
  }
}

.image-text {
  margin: 24px 0;
  display: flex;
  align-items: flex-start;
  gap: 16px;

  img {
    width: 100%;
    align-self: center;
  }

  &__left {
    width: 60%;
  }
  &__right {
    width: 40%;
  }
}
