$sidebar-width: 140px;
$sidebar-padding: 32px;

@use "../sass/reset";

.page-container {
  color: #444;

  overflow: hidden;
  display: flex;
}

.sidebar {
  height: calc(100% - 2 * $sidebar-padding); // Subtract padding
  width: $sidebar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: $sidebar-padding;
  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: #fff;
  background-image: url("../static/grain.svg");
  background-size: cover;

  &__title {
    margin-bottom: auto;
    font-size: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  &__item {
    font-size: 18px;

    &--bold {
      font-weight: 800;
    }
  }
}

.content {
  margin-left: calc($sidebar-width + 2 * $sidebar-padding);
  padding: 40px 80px 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .page-section {
    border-top: 2px solid #444;
  }

  .section + .section {
    padding-top: 32px;
  }

  p,
  ul {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 80%;

    &.subtitle {
      color: #444;
    }

    &.caption {
      padding-bottom: 16px;
      color: #888;
    }

    &.bold {
      font-weight: 600;
    }
  }
}

.page-intro {
  font-size: 18px;

  &__skills {
    margin-top: 16px;
    font-size: 22px;
  }

  &__col-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__col {
    flex: 1;
  }

  &__title {
    font-size: 48px;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  &__heading {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 600;
  }

  p {
    line-height: 24px;
  }

  em {
    font-weight: 600;
  }
}

.image-wrapper {
  padding-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  img {
    max-height: 300px;
    align-self: center;
  }

  &--400 img {
    max-height: 400px;
  }
  &--large {
    max-height: auto;
    width: 100%;
  }
}

.image-text {
  margin: 24px 0;
  display: flex;
  align-items: flex-start;
  gap: 16px;

  img {
    width: 100%;
    align-self: center;
  }

  p {
    width: 100%;
  }

  &__left {
    width: 60%;
  }

  &__right {
    width: 40%;
  }
}

.external-links-wrapper {
  padding: 16px 0;
  display: flex;
  gap: 4px;
  flex-direction: column;

  a {
    padding-left: 8px;
    color: #163f54;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
  }
}
